$backgroundColor: #11151e;
$screen-md-min: 768px;

@mixin md {
  @media (max-width: #{$screen-md-min}) {
      @content;
  }
}

body {
  overflow: hidden;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  @include md() {
    min-width: 100%;
  }
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;

  @include md() {
    min-width: 100%;
    min-height: 100%;
    background: #11151e;
  }
}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;

  &:hover {
    border: 1px solid #fff;

    @include md() {
      border: 0 solid #fff;
    }
  }
}

.scaling-svg-container {
  // position: relative; 
  // height: 0; 
  // width: 100%; 
  // padding: 0;
  // padding-bottom: 100%; 
  /* override this inline for aspect ratio other than square */
  display: flex;
  justify-content: center;
 }
 .scaling-svg {
  position: absolute; 
  // height: 100%; 
  // width: 100%; 
  // left: 0; 
  // top: 0;
    width: 80%;
    height: 80%;
    align-self: center;
    justify-self: center;
 }

.c {
  background-color: $backgroundColor;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -2;
  border-radius: 10px;
  transition: all ease-in 0.6s ; 
  transition-timing-function: cubic-bezier(.45,.33,.66,1.15);
  display: flex;
  justify-content: center;
  justify-items: center;
  box-shadow: 0px 4px 30px -6px $backgroundColor;
}

svg {
  justify-self: center;
  width: 80px;
  height: 80px;
}

.card {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: all 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px $backgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include md() {
    background: red;
    width: 100%;
    height: 60%;
  }
}

.box {
  // @include md() {
  //   position: absolute;
  //   left: -20px;
  // }
}

.card-overlay {
  height: 379px;
  width: 300px;
  border-radius: 10px;
  transition: all 0.8s;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 70px 63px -60px $backgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}

.card1 {
  background: url("./me.jpg")
    center center no-repeat;
  background-size: 330px;
  overflow: hidden;

  @include md() {
    background: url("./me_rwd.jpg")
    center center no-repeat;
    background-size: 310px;
    overflow: hidden;

    & h2 {
      opacity: 1;
    }

    & .fa {
      opacity: 1;
    }
  }
  
  &:hover {
    background: url("./me.jpg")
    right center no-repeat;
    background-size: 600px;

    @include md() {
      background: url("./me_rwd.jpg")
      center center no-repeat;
      background-size: 360px;
      overflow: hidden;
    }

    & h2 {
      opacity: 1;
    }

    & .fa {
      opacity: 1;
    }
  }

  &:hover ~ .c1 {
    top: 70%;
    left: 80%;

    @include md() {
      top: 5%;
      left: 5%;
    }

  }
  &:hover ~ .c2 {
    top: 50%;
    left: 10%;

    @include md() {
      top: 20%;
      left: 5%;
    }
  }
  &:hover ~ .c3 {
    top: 20%;
    left: 30%;

    @include md() {
      top: 50%;
      left: 5%;
    }
  }
  &:hover ~ .c4 {
    top: 60%;
    left: 60%;

    @include md() {
      top: 5%;
      left: 85%;
    }
  }

  &:hover ~ .c5 {
    top: 35%;
    left: 85%;

    @include md() {
      top: 40%;
      left: 85%;
    }
  }

  &:hover ~ .c6 {
    top: 15%;
    left: 60%;

    @include md() {
      top: 70%;
      left: 85%;
    }
  }

  &:hover ~ .c7 {
    top: 65%;
    left: 25%;

    @include md() {
      top: 80%;
      left: 25%;
    }
  }
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.fa {
  opacity: 0;
  transition: opacity 1s;
  font-size: 20px;
  transition: all ease-in 0.5s;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 80px;
  top: 270px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

a {
  all: unset;
  cursor: pointer;

  &:visited {
    all: unset;
  }
}

.codepen-credit {
  width: auto;
  height: 25px;
  font-size: 10px;
  color: #808080;
  position: absolute;
  bottom: 0px;
  left: 10px
}

.copyright {
  display: none;
}